    <nav mat-tab-nav-bar>
            <!--routerLink on angularin direktiivi. kertoo selaimelle että tämä ei ole tavallinen linkki jossa olisi href, vaan Angularin reitti.
            
                routerLinkActive direktiivi seuraa onko routterlinkki isActive. Tieto välitetään
                jokaiselle tabille jolla on omat #-merkillä merkatut id:t.
                Tabin isActive ominaisuus sidotaan property bindingillä linkin (tavallinen linkki a)
                active ominaisuuteen. Kun tab muuttuu sitä klikattaessa tilaan isActive, muuttuu klinkki
                samalla tilaan active. mat-tab-nav-bar ja mat-tab-link -css efektit toimivat sen perusteella onko linkki active.
            -->
    <a mat-tab-link routerLink="/me" routerLinkActive #meTab="routerLinkActive" [active]="meTab.isActive" >Minä</a>
    <a mat-tab-link routerLink="/studies" routerLinkActive #studTab="routerLinkActive" [active]="studTab.isActive">Opinnot</a>
    <a mat-tab-link routerLink="/hobbies" routerLinkActive #hobTab="routerLinkActive" [active]="hobTab.isActive">Harrastukset</a> 
    </nav>